body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-image: url('main/images/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

h1 {
    color: #333;
}

p {
    color: #666;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
