// Variables
@primary-color: #4CAF50;
@secondary-color: #333;

// Import components
@import "components.less";

// Basic styling for the body
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-image: url('https://raw.githubusercontent.com/J-B-Computers/J-B-Computers.github.io/main/images/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    h1 {
        color: @secondary-color;
    }

    p {
        color: #666;
    }

    button {
        .button; // Use button styles from components.less
    }
}